main {
    padding-top: 82px;
    min-height: 100vh;
}

main * {
    margin: 0;
}

main section {
    width: 100%;
    height: 820px;
}

main section p{
    background-color: cadetblue;
}

#presentation{
    position: relative;
    background-color: #F0FF86;
}

#presentation h1 {
    top: 60px;
    font-weight: bold;
}

#presentation h1 span {
    color: #00BBBE;
}

#skills{
    background-color: #A9EFFF;
}
#projects{
    background-color: #F0FF86;
}
#about-me{
    background-color: #A9EFFF;
}
#contact{
    background-color: #F0FF86;
}