.ct-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ct-intro div {
    flex-grow: 1;
}

.ct-intro h1 {
    margin: 0;
    font-size: 30px;
}

.ct-intro p {
    font-family: monospace;
    font-style: italic;
    max-width: 350px;
}

.ct-description span {
    color: #00BBBE;
}